.DS_Store
*.pdf

build
tmp/
.env
.DS_Store

**/**conf.toml
config.dev.toml

__pycache__

*.gen.txt
main

*.html

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

out
logs.log
output.xlsx
log.txt

*.log
*.tar
*.zip
*.csv
*.parquet
*.xlsx
*.log.txt
*.csv#
*.xml

!test/files/**/*

dump


**/conf.toml
*.toml

data/**

tmp.json
tmp.xml

local-files
.DS_Store

data
*.pdf

futures.json


!config.dev.toml

cpu.prof
cpu.txt
flame.svg

exchangeInfo.json

py
.venv